@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
.video-card{
    display: flex;
    gap: 1rem;
    cursor: pointer;
    text-decoration: none;
    color: $primaryTextColor;
    
    &__thumbnail{
        width: 8rem;
        height: 5rem;
        flex: none;
        border-radius: .25rem;
        @include tablet{
            width: 9rem;
            height: 5.5rem;
        }
    }

    &__description{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     padding: .3125rem 0;
    }

    &__title{
        font-size: .95rem;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        width: 70%;
        max-width: 17rem;
        
        @include desktop{
            width: 100%;
        }
    }
    
}