@use "./variables" as * ;

// responsive design breakpoint mixins

@mixin tablet{
    @media(min-width :$tablet-breakpoint){
        @content;
    }
}

@mixin desktop{
    @media(min-width : $desktop-breakpoint){
        @content;
    }
}

// 

@mixin flex-layout($flex,$flexDirection,$justifyContent){
    display : $flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
}

@mixin desktop-layout{
    margin: 0 auto;
    width: 63.75rem;
    padding-left: 0;
    padding-right: 0;
}


@mixin fontStyling($fontSize, $lineHeight , $fontWeight ){
    font-size: $fontSize;
    line-height: $lineHeight;
    font-weight: $fontWeight;
}


@mixin dividerLine{
    border-bottom: 0.0625rem solid $dividerLineColor;;
}

@mixin button($imgSrc){
    width: 100%;
    text-transform: uppercase;
    background-color: $PrimaryCtaColor;
    background-image: $imgSrc;
    background-repeat: no-repeat;
    border: none;
    height: 2.9rem;
    margin : 1rem 0;
    padding: 0 1rem ;
    color: $white;
    background-position: left;
    background-origin: content-box;
    border-radius: .25rem;
    font-size: 0.9rem;
    cursor: pointer;

    @include tablet{
        width: 11rem;
        margin: 0;
        height: 3rem;
        padding: .3125rem;
        font-size: 1rem;
    }

    &:hover{
        background-color: $CtaHoverState;
    }

    
}