// Primary colour
$primaryTextColor : #323232;
$PrimaryCtaColor : #0095FF;
$secondaryTextColor : #AFAFAF;
$white : #FFFFFF;
$invalid : #D22D2D;
// SECONDARY COLOURS
$VideoComponenetColor : #000000;
$CtaHoverState : #0065AD;
$dividerLineColor : #E1E1E1;
$formFieldColor : #FAFAFA;


// Responsive design breakpoints
$tablet-breakpoint : 768px;
$desktop-breakpoint : 1280px;

