@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as * ;
.upload-page{
    border-top: 1px solid $dividerLineColor ;
 @include tablet {
  margin : 0 2.25rem
 }   
@include desktop{
margin: 0;
}
}