@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5rem 1rem 0.25rem ;
    gap: 1.3rem;

    @include tablet{
      flex-direction: row;
      justify-content: space-between;
      margin: 1.25rem 2.25rem 1.25rem;
    }
     
    @include desktop{
        width: 63.75rem;
        margin: 0 auto;
        padding: 1.5rem 0 1.5rem;
    }
   
    &__logo{
        height: 1.5625rem;
        width: 7.5rem;
     
    }
   
    &__form-field{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
        width: 100%;
        
        @include tablet{
           width: auto;
           gap: 2rem;
        }  
    }

    &__search-bar{
     background-image: url(../../Assets/Icons/search.svg);
     background-repeat: no-repeat;
     padding: .75rem 2.25rem ;
     border: .0625rem solid $dividerLineColor;
     border-radius: .25rem;
     background-color: $formFieldColor;
     background-position: .625rem;
     flex: auto;
     
     &::placeholder{
      color: $primaryTextColor;
      font-size: 1rem;
     }
     @include tablet{
        width: 16rem;
        padding: 1rem 2.25rem;
    }


    }
    &__profile-img{
        border-radius: 50%;
        height: 2.5rem;
        width: 2.5rem;
        object-fit: cover;

        @include tablet{
            order: 1;
            height: 3rem;
            width: 3rem;
        }
    }

    &__button{
        @include button( url(../../Assets/Icons/upload.svg));
        margin-top: 0;
    }
}