@use  "../../styles/partials/mixins" as * ;
@use "../../styles/partials/variables" as *;

.video{
    
    width: 100%;
    background-color: $VideoComponenetColor;

    &__player{
        object-fit: cover;
        aspect-ratio: 16/9;
        width: 100%;
        display: block;
        margin: 0 auto;

         
        @include tablet{
            width: 100%;
            padding: 0 2.25rem ;
        }

        @include desktop{
            width: 59rem;
            height: 36rem;
        }
    }
}