@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;
.comment{
   

  &__card {
    display: flex;
    padding: 1rem 0;
    gap: 1rem;
    border-bottom: 0.0625rem solid $dividerLineColor;
    @include tablet{
      padding: 2rem 0;
    }
    @include desktop{
      gap: 2rem;
      padding: 2rem 2rem 2rem 1rem;
    }
  }
  &__user-img {
    background-color: $dividerLineColor;
    border-radius: 50%;
    height: 2.25rem;
    width: 2.25rem;
    flex: none;

    @include tablet {
      height: 3rem;
      width: 3rem;
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    width: 100%;
    @include tablet{
      gap: 1rem;

    }
  }

  &__name {
    margin: 0;
    @include fontStyling(1.1rem, 1.375rem, 700);
    width: 55%;
    word-break: break-word;
    @include tablet{
      font-size: 1.2rem;
    }
  }

  &__date {
    color: $secondaryTextColor;
    @include tablet{
      font-size: 1.1rem;
    }
  }

  &__review {
    @include fontStyling(1rem, 1.5rem, 400);
    width: 100%;
    word-break: break-word;
    @include tablet{
      font-size: 1.1rem;
    }
  }
 
}