@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;

.reviews{
  margin: 1rem;

  @include tablet{
    margin: 2rem
  }
  @include desktop {
    @include desktop-layout;
  }
  &__count{
    @include fontStyling(1.2rem,1.4rem,700)
  }

  



    &__comments{
     
       @include tablet {
         padding: 0 2.25rem 2.5rem;
         
       }
     
      
     
        &__cards {
         @include tablet {
           width: 80%;
           margin: 0 auto;
         }
     
         @include desktop {
           width: 55%;
         }
       }
    }
}