@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.videoDetails{
   
   &__title{
    padding-bottom: 1rem;
    @include dividerLine;
     @include tablet{
        border: none;
     }
     @include desktop{
        padding-top: 2.5rem;
     }
   }
   
   &__stats{
     display: flex;
     justify-content: space-between;
     @include dividerLine;
     padding: 1rem 0;

     @include desktop{
      padding:1rem 2rem 1rem 0 ;
     }
   }
   
   &__sub-stats{
    margin-right: 5rem;
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    gap: 1rem;
    color: $secondaryTextColor;
      @include tablet{
        gap: 2.5rem;
        flex-direction: row;
        margin: 0;
        font-size: 1.2rem;
      }
   }
   
   &__tag{
     display: flex;
     gap: 0.7rem;

     &--featured{  
        font-size: 1.1rem;
        color: $primaryTextColor;
        font-weight: 700;

        @include tablet{
          font-size: 1.2rem;
        }
     }
   }

   &__description{
    padding: 1.2rem 0 2rem ;
    font-size: 1rem;
    @include tablet {
      font-size: 1.1rem;
      padding: 2rem 0 3rem;
    }

    @include desktop{
      padding: 1.2rem 2rem 3rem 0 ;
      line-height: 1.6rem;
    }
   }
}